.sign_wrapper {
  position: relative;
  overflow: hidden;

  .sign {
    position: absolute;
    width: 200%;
    height: calc(100% - 80px);
    top: 80px;
    left: 0;

    z-index: 15;

    display: flex;

    &.none {
      left: -50%;
    }

    &.sign-in {
      left: 0;
    }

    &.sign-up {
      left: -100%;
    }

    transition: left .8s;

    .empty_space {
      width: 100%;
    }

    .sign_background {
      position: relative;
      display: flex;

      width: 50%;

      background: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(4px);

      &:first-child {
        justify-content: right;
      }

      &:last-child {
        justify-content: flex-start;

        .sign__content {
          .switch {
            align-items: flex-end;
          }
        }
      }

      .sign__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 598px;
        padding: 32px 64px;

        color: #FFF;

        .title {
          color: #FFF;

          text-transform: none;

          margin-bottom: 32px;
        }

        .sign_form {
          display: flex;
          flex-direction: column;
          gap: 32px;

          margin-bottom: 64px;

          .form_group {
            .label {
              color: #FFF;
            }

            .input {
              border: none;
              background-color: transparent;

              border-radius: 0;

              color: #FFF;

              border-bottom: 2px solid #F6C244;

              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px  #F6C244 inset;
                -webkit-text-fill-color: #000;
              }
            }
          }
        }

        .switch {
          display: flex;
          flex-direction: column;
          gap: 26px;

          .text {
            font-size: 22px;
            letter-spacing: .86px;
          }

          .switch_link {
            display: flex;
            align-items: center;
            gap: 16px;

            font-size: 24px;
            letter-spacing: .9px;
            text-transform: uppercase;

            width: max-content;

            cursor: pointer;

            .full_arrow_icon {
              width: 28px;
              height: 28px;

              color: transparent;
              stroke: #FFF;
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        top: 0;
        left: 0;
        background-color: #000;

        transform: translateY(-50%);
      }
    }
  }
}