.hint {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFF;
  font-family: 'Inter', sans-serif;

  padding: 8px;

  @keyframes fade {
    0% {
      opacity: 1;
      visibility: visible;
    }
    50% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  .hint_icon {
    width: 36px;
    height: 36px;

    stroke: #000;
    color: transparent;

    animation: fade 4s ease-in-out infinite;
  }

  .hint_content {
    position: absolute;
    width: max-content;
    top: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    transform-origin: center top;
    opacity: 0;
    visibility: hidden;

    background: rgba(0, 0, 0, 0.84);
    backdrop-filter: blur(4px);

    padding: 16px;
    border-radius: 8px;

    transition: transform .8s, opacity .8s, visibility .8s;

    z-index: 5;

    .title {
      text-align: center;
    }

    .hint_content_list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .link_title {
      font-size: 18px;
      letter-spacing: 0.8px;
      text-transform: none;
      text-align: center;
    }
  }

  &.center {
    .hint_content {
      left: 50%;

      transform: translate(-50%, 0%) rotateX(90deg);
    }

    &:hover {
      .hint_content {
        transform: translate(-50%, 0%) rotateX(0deg);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.left {
    .hint_content {
      left: 100%;

      transform: translate(-100%, 0%) rotateX(90deg);
    }

    &:hover {
      .hint_content {
        transform: translate(-100%, 0%) rotateX(0deg);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}