@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    src: url("./Aldrich/Aldrich-Regular.woff") format("woff"),
    url("./Aldrich/Aldrich-Regular.woff2") format("woff2");
    font-display: swap;
}