.search_field {
  display: flex;
  width: max-content;
  border-radius: 34px;

  position: relative;

  .search_input {
    width: 448px;
    outline: none;
    border-radius: 34px 0px 0px 34px;
    border: 2px solid #1B040E;
    border-right-width: 0;
    background: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(4px);

    padding: 16px 24px;

    font-size: 24px;
    letter-spacing: 1.92px;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  .search_btn {
    outline: none;
    border-radius: 0px 34px 34px 0px;
    border: 2px solid #1B040E;
    border-left-width: 0;
    background: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    transition: background-color .8s;

    .search_icon {
      width: 24px;
      height: 24px;

      transition: transform .1s;
    }

    &:hover {
      background-color: #F6C244;
    }

    &:active .search_icon {
      transform: rotate(-32deg);
    }

    &:disabled {
      &:hover {
        background: rgba(255, 255, 255, 0.64);
      }

      &:active .search_icon {
        transform: rotate(0);
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: 34px;

    transition: top .4s, left .4s, background-color .4s;
  }

  &:focus-within {
    &:before {
      top: 8px;
      left: 8px;
      background-color: #F6C244;
    }
  }
}