@import "src/Widgets/CommonStyles/Link/custom_link";

.move_to_setting_wrapper {
  display: flex;
  justify-content: center;

  .move_to_setting {
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.96px;
    text-transform: uppercase;

    padding: 4px 0;

    .setting_icon {
      width: 42px;
      height: 42px;

      color: transparent;
      stroke: #000;

      transition: transform .4s;
    }

    &:hover {
      .setting_icon {
        transform: rotate(90deg);
      }
    }
  }

  .custom_link {
    @include custom_link(#000);

    display: flex;
  }
}