.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .form_group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .label {
      color: #1B040E;
      font-size: 24px;
      letter-spacing: 0.96px;
    }

    .input, .textarea {
      outline: none;
      border: 2px solid #F6C244;

      border-radius: 12px;

      width: 100%;

      padding: 12px 14px;

      font-family: 'Inter', sans-serif;
      font-size: 20px;
      letter-spacing: 0.8px;
    }

    .textarea {
      height: 196px;
      resize: none;
    }

    .input_wrapper {
      position: relative;

      &:has(.error_field) {
        .input, .textarea {
          padding: 12px 50px 12px 14px;
        }
      }
    }
  }

  .btn {
    margin-top: 16px;

    text-transform: uppercase;
  }
}