@import "src/Widgets/CommonStyles/Link/custom_link";

.parent {
  position: relative;

  .sub_nav_link {
    display: flex;
    align-items: center;
    gap: 4px;

    .sub_nav_icon {
      width: 16px;
      height: 16px;

      color: transparent;
      stroke: #1B040E;

      transition: transform .4s;
    }

    &.custom_link.header_sub_nav {
      &::before {
        content: none;
      }
    }
  }

  .sub_nav {
    position: absolute;
    left: 100%;

    transform-origin: center top;
    transform: translateX(-100%) rotateX(90deg);
    visibility: hidden;
    opacity: 0;

    display: flex;

    padding: 2px 8px;
    border-radius: 8px;

    background-color: rgba(0, 0, 0, 0.78);
    backdrop-filter: blur(2px);

    transition: transform .4s, opacity .4s, visibility .4s;

    z-index: 5;

    .custom_link {
      @include custom_link(#FFF);

      padding: 16px;
    }
  }

  &:hover {
    .custom_link {
      .sub_nav_icon {
        transform: rotate(90deg);
      }
    }

    .sub_nav {
      transform: translateX(-100%) rotateX(0deg);
      visibility: visible;
      opacity: 1;
    }
  }
}