@import "src/Widgets/CommonStyles/Link/custom_link";

.header {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header_content_wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 64%;
    height: 2px;
    top: 80px;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #000;
    border-radius: 2px;
  }

  .header_content {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;

    color: rgba(0, 0, 0, 0.78);

    text-transform: uppercase;
    font-family: 'Aldrich', sans-serif;

    transition: color .4s;

    .nav .list {
      display: flex;
      gap: 28px;
    }
  }

  & > .double_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .custom_link {
    @include custom_link(#000);

    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.64px;
  }
}

@media screen and (max-width: 428px) {
  .header_content_wrapper {
    & > .double_header {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .sub_header {
        display: flex;
        justify-content: center;
      }
    }
  }
}