.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.60) 100%);
  backdrop-filter: blur(4px);
  z-index: 100;
  position: absolute;
  width: 100%;
}

.header_component {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  color: rgba(255, 255, 255, 0.84);
  text-transform: uppercase;
  font-family: 'Aldrich', sans-serif;
  transition: color .4s;

  .nav .list {
    display: flex;
    gap: 32px;

    a {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.96px;
    }
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }
}