.popular_posts_section {
  position: relative;
  margin-top: -60vh;

  z-index: 20;

  margin-bottom: 128px;

  .popular_posts_content {
    .popular_posts_list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 78px 128px;

      padding-bottom: 64px;
    }
  }
}