.just_like_it_wrapper {
  width: max-content;
  margin: 0 auto 128px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .agitation {
    font-size: 20px;
    letter-spacing: 0.82px;
  }

  .just_like_it {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .like_it_icon {
      width: 52px;
      height: 52px;

      color: transparent;
      stroke: #000;

      transition: transform .4s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .count {
      font-size: 18px;
      font-family: 'Aldrich', sans-serif;
      letter-spacing: 0.64px;
    }
  }
}