.created_field {
  font-family: 'Inter', sans-serif;
  color: #484848;

  &.m {
    font-size: 16px;
    letter-spacing: 0.58px;

    .edited {
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }

  &.l {
    font-size: 20px;
    letter-spacing: 0.64px;

    .edited {
      font-size: 18px;
      letter-spacing: 0.56px;
    }
  }
}