.auth {
  display: flex;
  gap: 18px;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  &.center {
    width: 100%;

    .auth_item {
      flex-basis: 50%;

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align: left;
      }

      a {
        color: rgba(255, 255, 255, 0.78);

        transition: color .4s;

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;

    .line_icon {
      width: 2px;
      height: 38px;

      stroke: #FFFFFF;
    }
  }

  .sign_out {
    cursor: pointer;
  }

  &.header_auth {
    gap: 14px;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.54px;

    .line {
      .line_icon {
        width: 2px;
        height: 32px;

        stroke: #000;
      }
    }

    .sign_out:hover {
      color: #000;
    }
  }
}