@import "src/Widgets/CommonStyles/Link/custom_link";

.auth {
  display: flex;
  gap: 18px;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  &.center {
    width: 100%;

    .auth_item {
      flex-basis: 50%;

      &:first-child {
        display: flex;
        justify-content: flex-end;
      }

      &:last-child {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;

    .line_icon {
      width: 2px;
      height: 38px;

      stroke: #FFFFFF;
    }
  }

  .sign_out {
    cursor: pointer;
  }

  &.header_auth {
    gap: 14px;

    .line {
      .line_icon {
        width: 2px;
        height: 32px;

        stroke: #000;
      }
    }

    .custom_link {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.54px;
    }
  }

  .custom_link {
    @include custom_link(#FFF);
  }
}