@import "src/Widgets/CommonStyles/Link/custom_link";

@mixin move_to_by_theme($background: #632421, $color: #FFF) {
  position: relative;

  margin: 64px 0 32px auto;

  color: $color;

  overflow: hidden;

  .content {
    position: relative;
    margin: 0 auto;

    width: 512px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    text-align: center;

    border-radius: 16px 0 0 16px;

    padding: 32px;

    background-color: $background;

    .title {
      color: $color;
    }

    .subtitle {
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.8px;
    }

    .pointer {
      height: 28px;

      .pointer_icon {
        width: 24px;
        height: 24px;

        color: transparent;

        stroke: $color;

        animation: .4s linear 0s infinite alternate pointer;
      }

      @keyframes pointer {
        from {
          transform: translateY(4px);
        }
        to {
          transform: translateY(0);
        }
      }
    }

    .auth {
      .line {
        .line_icon {
          stroke: $color;
        }
      }

      .auth_item {
        a {
          color: rgba($color, .78);

          &:hover {
            color: rgba($color, 1);
          }
        }
      }
    }

    .custom_link {
      @include custom_link($color);

      font-family: "Aldrich", sans-serif;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: $background;

      z-index: -1;
    }
  }
}

.move_to {
  &.yellow {
    @include move_to_by_theme(#F6C244, #000000);
  }

  &.dark_brown {
    @include move_to_by_theme(#3C0D07, #FFF);
  }

  &.brown {
    @include move_to_by_theme();
  }
}