.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;

  background-color: #2D2D2D;
  color: #FFF;

  width: 256px;
  height: 100vh;

  .sidebar__profile {
    position: relative;
    padding: 16px;

    .sidebar__profile-link {
      display: flex;
      align-items: center;
      gap: 16px;

      .sidebar__profile-avatar {
        width: 48px;
        height: 48px;
        object-fit: cover;

        border-radius: 50%;
      }

      .sidebar__profile-nickname {
        font-size: 20px;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 84%;
      height: 2px;
      top: 100%;
      left: 50%;
      background-color: #FFF;
      border-radius: 2px;
      transform: translate(-50%, -50%);
    }
  }

  .sidebar__nav {
    .sidebar__list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .sidebar__list-item {
        .sidebar__list-link {
          display: flex;
          padding: 4px;
        }
      }
    }
  }
}