.dropzone_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .dropzone {
    width: 100%;
    min-height: 216px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 32px;

    background-color: #F6C244;

    border-radius: 16px;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    text-align: center;

    cursor: default;

    .files_list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
    }
  }

  .dropzone_help {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;

    .dropzone_help_types {
      font-style: italic;
      color: #383838;
      font-size: 16px;
      letter-spacing: 0.64px;
    }
  }

  .original_image_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 0 0 16px;

    .title {
      color: #000;
    }

    .original_image {
      width: 270px;
      height: 152px;

      object-fit: cover;

      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32));
    }
  }

  .dropzone_error {
    position: absolute;
    width: 100%;
    height: 56px;
  }
}