.dropzone_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: #000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;

  .dropzone {
    width: 100%;
    min-height: 216px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 32px;

    background-color: #F6C244;

    border-radius: 16px;

    line-height: 42px;
    letter-spacing: 1.28px;
    text-transform: uppercase;

    cursor: default;

    .files_list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
    }
  }

  .dropzone_help {
    display: flex;
    flex-direction: column;
    gap: 8px;

    line-height: normal;
    letter-spacing: 0.8px;

    .dropzone_help_types {
      font-style: italic;
      color: #383838;
      font-size: 16px;
      letter-spacing: 0.64px;
    }
  }

  .original_image_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 0 0 16px;

    .title {
      color: #000;
    }

    .original_image {
      width: 270px;
      height: 152px;

      object-fit: cover;

      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32));
    }
  }

  .dropzone_error {
    position: absolute;
    width: 100%;
    height: 56px;
  }

  &.l {
    .dropzone {
      font-size: 32px;
    }

    .dropzone_help {
      font-size: 20px;
    }
  }

  &.m {
    .dropzone {
      min-height: 184px;

      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.94px;
    }
    .dropzone_help {
      font-size: 16px;

      .dropzone_help_types {
        font-size: 14px;
      }
    }
  }
}